@import 'src/app/styles/index.scss';

.buy {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__button {
    cursor: pointer;
    color: #fff;
    padding: 12px 35px;
    font-weight: 800;
    border-radius: rem(40);
    box-shadow: 0 4px 20px rgba(255, 80, 0, 0.16);
    background-color: #fe5000;
    transition: all 0.3s ease 0s;

    @media (any-hover: hover) {
      &:hover {
        background-color: #fd4002;
        box-shadow: 0 7px 35px rgba(255, 80, 0, 0.36);
      }
    }
  }
}

.price {
  font-size: rem(22);
  font-weight: 800;
  line-height: rem(26);
  color: #2c2f39;
  cursor: default;
  user-select: none;

  &__wrapper {
    display: flex;
    align-items: center;
    column-gap: 10px;
    cursor: default;
    user-select: none;
  }

  &__new {
    font-size: 22px;
    font-weight: 800;
    line-height: 26px;
    color: rgb(255, 0, 0);
  }

  &__old {
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    text-decoration: line-through;
  }
}

.weight {
  padding-top: rem(12);
  display: flex;
  align-items: center;
  gap: rem(15);
  color: #747c8a;
  font-weight: 600;
  font-size: rem(14);
  line-height: rem(16);
  cursor: default;
  user-select: none;

  &__count {
    font-weight: 600;
    font-size: rem(16);
  }
}

.tooltip {
  position: relative;

  &__trigger {
    padding: 5px 7px;
    font-size: rem(10);
    font-weight: 800;
    color: #9ea7b6;
    text-transform: uppercase;
    cursor: pointer;
    background-color: #f1f4f9;
    border-radius: 6px;
    transition: all 0.3s ease 0s;

    @media (any-hover: hover) {
      &:hover {
        color: #2c2f39;
        background-color: #d8dee9;

        + .tooltip__body {
          visibility: visible;
          opacity: 1;
          pointer-events: all;
        }
      }
    }
  }

  &__body {
    position: absolute;
    width: max-content;
    bottom: 130%;
    left: -130%;
    z-index: 9;
    padding: 22px 15px;
    background-color: #000;
    border-radius: 20px;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
    z-index: 20;
  }

  &__header {
    margin-bottom: rem(7);
    font-size: rem(14);
    font-weight: 800;
    color: #fff;
    text-align: center;
  }
}

.kpfc {
  display: flex;
  justify-content: space-between;

  &__count {
    font-size: rem(14);
    font-weight: 800;
  }

  &__description {
    font-size: rem(12);
    font-weight: 600;
  }
}
