@import 'src/app/styles/index.scss';

.navigation {
  max-height: 36px;
  overflow: hidden;
  border-bottom: 1px solid #f1f4f9;

  &__container {
    height: 100%;
  }

  &__body {
    padding: 5px 0;
    display: flex;
    column-gap: rem(35);
  }
}

.categories {
  max-width: 1200px;
  height: 100%;
  padding: 8px 0;
  margin: 0 auto;

  &__wrapper {
    position: relative;
    max-width: 100%;
    transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
  }

  &__body {
    contain: content;
    display: flex;
    flex: 1 1 auto;
    overflow: hidden;
  }

  &__content {
    display: flex;
    flex: 1 0 auto;
    position: relative;
    transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1);
    white-space: nowrap;
  }
  // TODO - Сделать появление шапки после категорий

  &__link {
    margin: 0 15px;
    font-size: 12px;
    font-weight: 700;
    color: #2c2f39;
    line-height: 1.5;
    &:first-child {
      margin-left: 0;
    }
  }
}

.link {
  color: #2c2f39;
  font-weight: 700;
  font-size: 12px;
  line-height: 25px;
  transition: all 0.3s ease 0s;

  &:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fe5000;
    gap: rem(8);

    svg {
      width: rem(20);
      height: rem(20);
    }
  }

  @media (any-hover: hover) {
    &:hover {
      color: #ee5209;
    }
  }
}
