@import 'src/app/styles/index.scss';

.navigation {
  max-height: 36px;
  overflow: hidden;
  border-bottom: 1px solid #f1f4f9;

  &__container {
    height: 100%;
  }

  &__body {
    padding: 5px 0;
    display: flex;
    column-gap: rem(35);
  }
}

.link {
  color: #2c2f39;
  font-weight: 700;
  font-size: 12px;
  line-height: 25px;
  transition: all 0.3s ease 0s;

  &:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fe5000;
    gap: rem(8);

    svg {
      width: rem(20);
      height: rem(20);
    }
  }

  @media (any-hover: hover) {
    &:hover {
      color: #ee5209;
    }
  }
}
