@import 'src/app/styles/index.scss';

.checkboxes__body {
  position: relative;
  height: rem(32);
  display: flex;
  background-color: rgb(241, 244, 249);
  border-radius: rem(100);
  margin-bottom: rem(24);
}

.checkbox__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 1 50%;
}

.checkbox__label {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  user-select: none;
  cursor: pointer;
  z-index: 12;
  color: #2c2f39;
  transition: all 0.3s ease 0s;

  &_left {
    font-weight: 600;
  }

  &_right {
    font-weight: 600;
    color: #2c2f39;
  }
}

.checkbox__toggle {
  left: 0;
  top: 0;
  width: 50%;
  margin: rem(3);
  height: rem(26);
  background-color: #fff;
  position: absolute;
  z-index: 10;
  border-radius: rem(100);
  transition: all 0.3s ease 0s;

  &_right {
    left: 47.5%;
  }
}

.checkbox {
  position: absolute;
  visibility: hidden;
  pointer-events: none;

  &:checked {
    .checkbox__toggle & {
      right: 0 !important;
      left: unset !important;
    }
  }
}
