@import 'src/app/styles/index.scss';

.sale-content {
  padding: 30px calc(50% - 480px) 120px!important;
  color: rgba(0,0,0,.87);
  &__image {
    margin: 48px 0 40px;
    border-radius: 40px;
    position: relative;
    overflow: hidden;
    flex: 1 0 auto;
    max-width: 100%;
    display: flex;
    z-index: 0;
  }
  &__section {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  &__text {

  }
  &__title {
    margin-bottom: 30px;
    font-size: 22px;
    font-weight: 800;
    line-height: 26px;
  }
  &__description {
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
    p {
      margin-bottom: 16px;
    }
    ul {
      padding-left: 24px;
      li{
        margin-left: 15px;
        list-style-type: disc;
      }
    }
  }
}

.v-responsive__sizer {
  transition: padding-bottom .2s cubic-bezier(.25,.8,.5,1);
  flex: 1 0 0px;
}

.v-reponse__content {
  margin-left: -100%;
  flex: 1 0 0px;
  max-width: 100%;
}

.v-image__image {
  z-index: -1;
  position: absolute;
  background-repeat: no-repeat;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
}

